#sidenav-overlay{
  		z-index: 990 !important;
  	}
.scrollbar
{
	overflow-y: scroll;
	visibility: hidden;
}
.scrollbox-content,
.scrollbar:hover{
	visibility: visible;
}
.scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: white;
}
.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: red;
}
.rightmsg
{
	text-align: justify;
	border-radius: 5px;
	padding: 8px;
	max-width: 70%;
	color: white;
	background: #2196F3;
	word-wrap: break-word;
	/*font-size: 12px;*/
}
.leftmsg
{
	text-align: justify;
	border-radius: 5px;
	/*font-size: 12px;*/
	padding: 8px;
	max-width: 70%;
	background: #F1F0F0;
	word-wrap: break-word;

}


@media(max-width:992px)
{
	#chat-slide-out{
		width: 100%;
	}
	#dropdown2{
		width: 100vw !important;
	}
	.modal {
	    width: 95% !important;
	}
}
@media(min-width: 992px)
{
	#chat-slide-out{
		width:23%;
	}
	.brand-logo{
		padding-left: 20px !important;
	}
}
.chattime{
	color:lightgrey;
	margin: 0px;
	padding: 0px !important;
	text-align: right;
	font-size: 10px;
}
.chatinfo{
	color:rgba(0,0,0,.5);
	margin: 0px;
	padding: 0px !important;
	font-size: 13px;
	font-weight: 500;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}